In [ ]:
import pandas as pd #import pandas

In [ ]:
dfFull = pd.read_csv(r'C:\Users\Kams\Desktop\tech-challenge-main\Part 1 Web Scraping & Data Storage\Full Title Property Data.csv', delimiter = ',')  #two dataframes from two csvs using the delimiter ','
dfSect = pd.read_csv(r'C:\Users\Kams\Desktop\tech-challenge-main\Part 1 Web Scraping & Data Storage\Sectional Title Property Data.csv', delimiter = ',')

In [ ]:
pd.set_option('display.width', 200) #set the display so all items are viewable
pd.set_option('display.max_columns', None)

In [ ]:
dfFull.head() #shows the 1st few records in DataframeFull

dfSect.head()#shows the 1st few records in DataframeSect

,Rate Number,Legal Description,Address,First Owner,Use Code,Rating Category,Market Value,Registered Extent
0,561579,Section 1 OF SS DOLPHIN COURT [354/1985],"57 PRINCE STREET, POINT",SOOKDEO KRISHENKUMAR,Multiple Residential (16),Residential,"800,000",76
1,427553,Section 1 OF SS ROBERNE COURT [453/1985],"14 KEARSNEY ROAD, SOUTH BEACH",VIEW NORTH INV SHARE BLOCK PTY LTD,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"3,220,000",643
2,96086169,Section 1 OF SS TONG LOK [464/1992],"562 MAHATMA GANDHI ROAD, SOUTH BEACH",D C COMMERCIAL VENTURES CC,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"2,550,000",584
3,1607233,Section 1 of SS AIKEN COURT [477/1998],"447 MAHATMA GANDHI ROAD, POINT",KOOBLAL MOONILALL,Multiple Residential (16),Residential,"420,000",70
4,356853,Section 1 OF SS THE QUAYS [324/2006],"31 CANAL QUAY ROAD, POINT",YEBO RIGGING AND PROPERTIES CC,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"12,250,000","1,234"

In [ ]:
dfFull.info() #Checking if datatypes are Correct
dfSect.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rate Number        123 non-null    int64
 1   Legal Description  123 non-null    object
 2   Address            123 non-null    object
 3   First Owner        123 non-null    object
 4   Use Code           123 non-null    object
 5   Rating Category    123 non-null    object
 6   Market Value       123 non-null    object
 7   Registered Extent  123 non-null    object
dtypes: int64(1), object(7)
memory usage: 7.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rate Number        123 non-null    int64
 1   Legal Description  123 non-null    object
 2   Address            123 non-null    object
 3   First Owner        121 non-null    object
 4   Use Code           123 non-null    object
 5   Rating Category    123 non-null    object
 6   Market Value       123 non-null    object
 7   Registered Extent  123 non-null    object
dtypes: int64(1), object(7)
memory usage: 7.8+ KB

In [ ]:
dfFull.isnull().sum()
dfSect.isnull().sum() #Checking For Null Values

Rate Number          0
Legal Description    0
Address              0
First Owner          2
Use Code             0
Rating Category      0
Market Value         0
Registered Extent    0
dtype: int64

In [ ]:
dfFull.fillna(0) #Filling in Nulls with 0
dfSect.fillna(0)

In [ ]:
dfFull = dfFull.drop_duplicates() #Deleting Duplicates
dfSect = dfSect.drop_duplicates()

In [ ]:
dfFull['First Owner'] = dfFull['First Owner'].replace('R S A', 'RSA') #Fixing Some strings

In [ ]:
dfFull #display results
dfSect

,Rate Number,Legal Description,Address,First Owner,Use Code,Rating Category,Market Value,Registered Extent
0,561579,Section 1 OF SS DOLPHIN COURT [354/1985],"57 PRINCE STREET, POINT",SOOKDEO KRISHENKUMAR,Multiple Residential (16),Residential,"800,000",76
1,427553,Section 1 OF SS ROBERNE COURT [453/1985],"14 KEARSNEY ROAD, SOUTH BEACH",VIEW NORTH INV SHARE BLOCK PTY LTD,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"3,220,000",643
2,96086169,Section 1 OF SS TONG LOK [464/1992],"562 MAHATMA GANDHI ROAD, SOUTH BEACH",D C COMMERCIAL VENTURES CC,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"2,550,000",584
3,1607233,Section 1 of SS AIKEN COURT [477/1998],"447 MAHATMA GANDHI ROAD, POINT",KOOBLAL MOONILALL,Multiple Residential (16),Residential,"420,000",70
4,356853,Section 1 OF SS THE QUAYS [324/2006],"31 CANAL QUAY ROAD, POINT",YEBO RIGGING AND PROPERTIES CC,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"12,250,000","1,234"
...,...,...,...,...,...,...,...,...
118,1178791,Section 1 OF SS 419 POINT ROAD [22/1997],"24 FENTON ROAD, CBD",P R INV TRUST-TRUSTEES,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"1,100,000",174
119,928715,Section 1 OF SS OGWINI [79/1990],"9 JOSEPH NDULI STREET, CBD",JOOSSUB FATMA MAHOMED,Multiple Residential (16),Residential,"420,000",50
120,1639553,Section 1 OF SS PUGIN COURT [148/1988],"6 RIPLEY TERRACE, POINT",M & R PUGIN SHARE BLOCK PTY LTD,Multiple Residential (16),Residential,"500,000",86
121,901646,Section 1 OF SS MONT BLANC [136/1994],"51 O R TAMBO PARADE, SOUTH BEACH",MODEAN MONT BLANC CC,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"2,400,000",338
122,1005576,Section 1 OF SS FINSBURY COURT [153/1981],"85 DR PIXLEY KASEME STREET, SOUTH BEACH",ANISA MAHOMED PANDOR FAMILY TRUST,Retail/Offices/Entertainment/ Restaurant (41),Business & Commercial,"350,000",45

In [ ]:
dfFull.to_excel(r'C:\Users\Kams\Desktop\tech-challenge-main\Part 1 Web Scraping & Data Storage\Full Title Property Data Cleaned.xlsx', index=False) #Save in xlsx Files
dfSect.to_excel(r'C:\Users\Kams\Desktop\tech-challenge-main\Part 1 Web Scraping & Data Storage\Sectional Title Property Data Cleaned.xlsx', index=False)